<div id="error_container"><?php
	if (!empty($use->var['errors'])) { 
		$errors = $use->var['errors'];
		if (isset($errors['error'])) { ?>
			<div id="error" onclick="expand('error');" >
				<div id="error_msg">
					<ul><li><?php echo $errors['error']; ?></li></ul>
				</div>
			</div><?php 
		}
	} ?></div>

	<form method="post" name="myform">
		<div id="fieldset_title">Edit Category</div>
		<fieldset>
		<div id="bracket">
			<dl><dt>* Title</dt>
			<dd><input <?php common::error_box($use->var['errors'], 'title'); ?> type="text" name="title" value="<?php echo common::setField('title',$use->var['category']->title);?>" title="title" size="30" />
				<?php common::error_msg( $use->var['errors'], 'title'); ?>
			</dd></dl>
			<dl><dt>* Alias</dt>
			<dd><input <?php common::error_box($use->var['errors'], 'alias'); ?> type="text" name="alias" value="<?php echo common::setField('alias',$use->var['category']->alias);?>" title="Alias" />
				<?php common::error_msg( $use->var['errors'], 'alias'); ?>
			</dd></dl>
		</div>
		<div id="bracket">
		    <dl><dt>* Template</dt>
			<dd><select name="template">
			    <option value="">Default Template</option>
				<?php if(!empty($use->var['templates'])){
				foreach($use->var['templates'] as $key=>$value){ ?>
				<option value="<?php echo $value['name'];?>" <?php if(common::setField('template',$use->var['category']->template)==$value['name']){echo "selected='selected'";}?>><?php echo $value['name'];?></option>
			<?php }}?>
			</select>
			</dd></dl>
			<dl><dt>Active</dt>
			<dd><input type="checkbox" name="active" <?php if($use->var['category']->active==1){echo "checked='checked'";}; ?> /></dd>
			</dl>
		</div><br />
		</fieldset><br />
		
<div id="button_wrapper">
<div id="button"><input type='submit' name="save" value="Save"></div>
</form>
<form method="post" <?php common::formAction($use->group.'/'.$use->controller, 'category'); ?>>
<div id="negative"><input type="submit" name="submit" value="Cancel" onclick="return confirm('Changes will not be saved. Do you wish to continue?');"/></div>
</form>
</div>