<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><title>Page Not Found</title>
<link rel="stylesheet" href="<?php echo CSS_PATH;?>login.css" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
    <div id="logo"></div>
	<div id="grey_wrapper">
	<div id="content">
	    <h1><?php echo common::ImagePath('alert.gif','');?> Page Not Found</h1>
		<p>The page you are looking is not available. Kindly contact administrator for more information.</p> 
		
		<p><br><a href="<?php echo HTTP_PATH;?>" title="OrangeTee">Click here to back to home</a></p>
	</div> 
	</div>
</div>

</body>
</html>


