<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><title>Password Expired</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH;?>login.css" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
<div id="logo"></div>
	<div id="loginbox_wrapper">
	
	<div id="loginbox">
	<fieldset>
	<form method="post">
	  <dl><dt>Current Password : </dt>
	  <dd><input <?php common::error_box($errors,'old_pword');  ?> type="password" name="old_pword" value="<?php echo common::setPost('old_pword');?>" size="25" />
	   <?php common::error_msg($errors,'old_pword');  ?></dd>
	  </dl>
		<dl><dt>New Password : </dt>
	  <dd><input <?php common::error_box($errors,'pword');  ?> type="password" name="pword" value="<?php echo common::setPost('pword');?>" size="25" />
	   <?php common::error_msg($errors,'pword');  ?></dd>
	  </dl>
	  <dl><dt>Re-type Password : </dt>
	  <dd><input <?php common::error_box($errors,'cpword');  ?> type="password" name="cpword" value="<?php echo common::setPost('cpword');?>" size="25" />
	   <?php common::error_msg($errors,'cpword');  ?></dd>
	  </dl>
	   <div id="otherinfo">
		 <dl>
		 <dd><div id="button"><input type="submit" name="submit" value="Update" /></div></dd></dl>
	  </div>
	</form>
	</fieldset>
	<div class="clear"></div>
	</div>
	</div>
</div>
	
</body>
</html>