<div class="aside">
<h3>Our Services</h3>
<ul>
<li><img src="<?php echo IMAGE_PATH;?>pic1.gif" alt="" /><div class="extra-wrap"><span>Consultation</span>Sed ut perspiciatis unde<a href="#">...</a></div></li>
<li><img src="<?php echo IMAGE_PATH;?>pic2.gif" alt="" /><div class="extra-wrap"><span>Business Planning</span>Iste natus error sit voluptatem<a href="#">...</a></div></li>
<li><img src="<?php echo IMAGE_PATH;?>pic3.gif" alt="" /><div class="extra-wrap"><span>Target Marketing</span>Accusantium dolmque ldan<a href="#">...</a></div></li>
<li><img src="<?php echo IMAGE_PATH;?>pic4.gif" alt="" /><div class="extra-wrap"><span>Market Research</span>Tium totam rem aperiam eaque<a href="#">...</a></div></li>
<li><img src="<?php echo IMAGE_PATH;?>pic5.gif" alt="" /><div class="extra-wrap"><span>Quick Business Help</span>Ipsa quae ab illo inventore<a href="#">...</a></div></li>
</ul>
<div class="wrapper"><a href="#" class="link1"><em><b>Learn More</b></em></a></div>
</div>