<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><title>CMS</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH;?>login.css" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
<div id="logo"></div>
<div id="loginbox_wrapper">
<?php echo common::ImagePath('logo.png');?><br /><br />
<div id="forgotbox">
	<fieldset>
	<form method="post">
	  <dl><dt>Email Address : </dt>
	  <dd><input <?php common::error_box($this->var['errors'], 'email');  ?> type="text" name="email" value="<?php echo common::setPost('email');?>" size="25" />
	  <?php common::error_msg($this->var['errors'], 'email');  ?>
	  </dd></dl>
	  <div id="otherinfo">
		<dl><dt>&nbsp;</dt><dd><div id="button"><input type="submit" name="send" value="Send Request" /></div></dd></dl>
	  </div>
	</form>
	</fieldset>
	<div class="clear"></div>
</div>
</div>
</div>
	
</body>
</html>